In [1]:
import sys
sys.path.append("..")

from src.recommender import HybridRecommender

In [2]:
recommender= HybridRecommender(base_path="..")

In [3]:
sample_user_id = recommender.user_encoder.classes_[0]

recommender.recommend(
    raw_user_id=sample_user_id,
    k=10,
    alpha=0.7
)

,movie_id,title,genres
0,1,Toy Story (1995),"[Animation, Children's, Comedy]"
1,2,Jumanji (1995),"[Adventure, Children's, Fantasy]"
2,3,Grumpier Old Men (1995),"[Comedy, Romance]"
3,4,Waiting to Exhale (1995),"[Comedy, Drama]"
4,5,Father of the Bride Part II (1995),[Comedy]
5,6,Heat (1995),"[Action, Crime, Thriller]"
6,7,Sabrina (1995),"[Comedy, Romance]"
7,8,Tom and Huck (1995),"[Adventure, Children's]"
8,9,Sudden Death (1995),[Action]
9,10,GoldenEye (1995),"[Action, Adventure, Thriller]"